* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(205, 184, 184), rgb(163, 55, 22));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Add some padding for spacing */
}

.container h1 {
    color: rgb(14, 15, 14);
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px; /* Add margin for spacing */
}

.converter-row {
    display: flex;
    flex-direction: column; /* Change to column layout on smaller screens */
    width: 100%; /* Occupy full width on smaller screens */
    background: rgb(226, 133, 39);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px; /* Add margin for spacing */
}

@media (min-width: 768px) {
    .converter-row {
        flex-direction: row; /* Change back to row layout on larger screens */
        justify-content: space-between;
    }
}

.col {
    flex: 1; /* Use flex instead of flex-basis for more flexibility */
    text-align: center;
    margin-bottom: 20px; /* Add margin for spacing between columns */
}

.col label {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #231212;
}

.col input {
    width: 100%; /* Make the input occupy the full width of the column */
    max-width: 150px; /* Limit the maximum width of the input */
    height: 30px;
    background: white;
    border-radius: 5px;
    text-align: center;
}
